*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CalculatorComponent{
    width: 360px;
    height: 605px;
    overflow: hidden;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px black;
    background-color: #3b3071eb;
}